<!--The content below is only a placeholder and can be replaced.-->
<table>
  <thead>
    <tr>
      <th></th>
      <th>列車進入月台車站之站名</th>
      <th>行駛目的地</th>
      <th>資料更新日期</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list; index as i">
      <td>{{ i +1 }}</td>
      <td>{{ item.Station }}</td>
      <td>{{ item.Destination }}</td>
      <td>{{ item.UpdateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
  </tbody>
</table>
<h2>Power Boost Calculator</h2>
<div>Normal power: <input type="text" [(ngModel)]="power"></div>
<div>Boost factor: <input type="text" [(ngModel)]="factor"></div>
<p>
  git commit -m "Initial"  Super Hero Power: {{ power * factor }}
</p>
